{% extends 'base.j2' %}
{% block content %}
 
    <div class='page_container'>

        <div class='text_container'>
        
            <b>ACTORS</b>
            <p>Eric Roberts stars in each movie in the IOERD.  However, if you wish to find supporting cast members, read on:</p>
            <p>Here you can <b>SEARCH</b> for actors, and even <b>INSERT</b> new actors! While their acting skills may
                not match ER, we want to ensure all actor name's are captured in the IOERD.</p>

            <p>Searches (SELECT) are 'fuzzy' so partial matches will return results</p>

            <p>To SEARCH the database, select the name of an actor into the field, click "RELEASE THE KRAKEN" and let 
            the internet do its magic!</p><br><br>

            <p>To INSERT into the database, enter the name of an actor into the field and click "ADD NON-ER ACTOR".</p>
        </div>


        <form class="actors" action="{{ url_for('actors') }}" method='post'>
            <fieldset>
                <legend><H3>Query: Search Database</H3></legend>
                <p>
                    <label>Actor:
                        <input type="text" name="primaryName" size="30" maxlength="100">
                    </label>
                    <br>
                </p>
                <br>
                <input id="submit_search_actor" type="submit" value="RELEASE THE KRAKEN" />
            </fieldset>
            </form>
        
        <form class='actors' action="{{ url_for('actors') }}" method='post'>
            <fieldset>
                <legend><H3>Query: Insert into Database</H3></legend>
                <p>
                    <label>New Actor:
                        <input type="text" name="newName" size="30" maxlength="100">
                    </label>
                    <br>
                    <br>
                </p>
                <br>
                <input id="submit_insert_actor" type="submit" value="ADD NON-ER ACTOR" />
            </fieldset>
            </form><br><br>

        <table class='smallTable'>
            <caption>List of Actors</caption>
            <thead>
              <tr>
                <th>ACTOR (sorted by most recently added)</th>
              </tr>
            </thead>
		<tbody>
            {% for value in values %}
            <tr>
               <td>{{value.primaryName}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <script src="{{ url_for('static', filename='horizontalRoberts.js') }}"></script>
{% endblock %}